:host {
    display: block;
    background-color: var(--mat-sys-on-surface);
    color: color-mix(in srgb,
            var(--mat-sys-surface) 50%,
            transparent);
    border-top: 6px solid var(--mat-sys-primary);
    text-transform: uppercase;
    padding: 2rem;

    h3 {
        padding-bottom: 2rem;
        font-size: 1.4rem;
        font-weight: 800;
    }

    p {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0;

        span {
            color: var(--mat-sys-surface);
            font-size: 1rem;
        }
    }

    hr {
        margin: 2rem 0;
        opacity: 50%;

    }

    section {

        h4 {
            color: var(--mat-sys-primary);
            color: var(--mat-sys-primary);

            padding-bottom: 1rem 0;
            text-shadow: 0 1px 5px color-mix(in srgb,
                    var(--mat-sys-surface) 30%,
                    transparent);
            ;

        }

        p {
            padding: 1.2rem 0 2.5rem;
            font-weight: bold;
            color: var(--mat-sys-surface);
            font-size: 2rem;
        }

        .btn-primary {
            width: 100%;
            border-radius: 0;
            padding: 0.75rem;
        }
    }
}