@use 'sass:color';
@use './variables' as v;
@use 'sass:map';

// Utility Mixin for shared button logic
@mixin custom-btn-base {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: v.$spacing-sm v.$spacing-md;
  border-radius: v.$radius-sm;
  font: var(--mat-sys-label-large);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: none;
  gap: v.$spacing-sm;
  text-decoration: none;
  outline: none;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:focus,
  &:active {
    outline: 1px solid var(--mat-sys-outline);
  }
}

@mixin btn-size($py, $px, $font, $radius) {
  padding: $py $px;
  font: $font;
  border-radius: $radius;
}

button {
  @include custom-btn-base;

  &.btn-sm {
    @include btn-size(v.$spacing-xs, v.$spacing-md, var(--mat-sys-label-small), v.$spacing-sm);

    &.icon {
      padding: v.$spacing-xs;
    }
  }

  &.btn-lg {
    @include btn-size(12px, 20px, var(--mat-sys-label-large), 10px);

    &.icon {
      padding: v.$spacing-md;
    }
  }
}

button.icon {
  padding: v.$spacing-sm;
}

$variants: primary, secondary, tertiary;
$button-colors: (
  primary: v.$primary,
  secondary: v.$secondary,
  tertiary: v.$tertiary,
);
$button-colors-highlight: (
  primary: v.$primary-highlight,
  secondary: v.$secondary-highlight,
  tertiary: v.$tertiary-highlight,
);

@mixin btn-filled-variant($variant) {
  @include custom-btn-base;

  background-color: map.get($button-colors, $variant);
  color: var(--mat-sys-on-#{$variant}-container);

  &:hover:not(:disabled) {
    background-color: map.get($button-colors-highlight, $variant);
  }
}

@mixin btn-outline-variant($color-var) {
  @include custom-btn-base;

  background: transparent;
  border: 1px solid var(--mat-sys-outline);
  color: var(#{$color-var});

  &:hover:not(:disabled) {
    background-color: color-mix(in srgb, var(#{$color-var}) 8%, transparent);
    border-color: var(#{$color-var});
  }
}

@mixin btn-text-variant($color-var) {
  @include custom-btn-base;

  background: transparent;
  color: var(#{$color-var});
  padding-left: v.$spacing-sm;
  padding-right: 8px;

  &:hover:not(:disabled) {
    background-color: color-mix(in srgb, var(#{$color-var}) 8%, transparent);
  }
}

@each $variant in $variants {
  // Filled buttons
  .btn-#{$variant} {
    @include btn-filled-variant($variant);
  }

  // Outline buttons
  .btn-outline-#{$variant} {
    @include btn-outline-variant(--mat-sys-#{$variant});
  }

  // Text buttons
  .btn-text-#{$variant} {
    @include btn-text-variant(--mat-sys-#{$variant});
  }
}
