:host {
    display: flex;
    align-items: center;
    flex: 1;
    overflow: hidden;
    background: #ecebeb;

    mat-icon {
        font-size: 1.2rem;
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input {
        flex: 1;
        padding: 10px;
        border: none;
        outline: none;
        color: var(--mat-sys-primary);
        background: transparent;

        &::placeholder {
            color: var(--mat-sys-primary);
            opacity: .5;
        }

    }
}

:host:has(:focus) {
    background: var(--mat-sys-surface);

}