<app-search-bar />
<app-category-filter />
<header>
    <div class="title">
        <p>
           station 01 - grill 
        </p>
    <h1>
        dinner menu
    </h1>
    </div>
    <div class="info">
        <div>
            <p class="label">avg prep time</p>
            <p class="value avg-time">15-20 min</p>
        </div>
        <div class="divider"></div>
        <div >
            <p class="label">rush status</p>
            <div class="value">
                <div class="status"></div>
                <p>moderate</p>
            </div>
        </div>
    </div>
</header>
<main>
    <app-menu-grid  />
    <app-cart-sidebar />
</main>
