<aside class="cart-sidebar">
  <header>
      <h5>
              <mat-icon>shopping_bag</mat-icon>

        ORDER SUMMARY
      </h5>
      <h5>QTY</h5>  
 </header>
   @if (cartItems$ | async; as items) {
    @if (items.length === 0) {
      <p class="empty-cart" data-testid="empty-cart-msg">Your cart is empty</p>
    } @else {
      <div class="cart-items">
        @for (item of items; track item._id) {
          <app-cart-item [item]="item" />
        }
      </div>

      <div class="cart-summary">
        <div class="summary-details">

            <div class="summary-row">
                <span>Total Items:</span>
                <span>{{ count | async }}</span>
            </div>
            <div class="summary-row">
                <span>Subtotal:</span>
                <span data-testid="cart-total">{{ total | async | currency : "EGP " }}</span>
            </div>
            @if(serviceFee > 0){
                <div class="summary-row">
                    <span>Service Fee:</span>
                    <span data-testid="cart-service-fee">{{ serviceFee | currency : "EGP " }}</span>
                </div>
            }
            @if(tax > 0){
                <div class="summary-row">
                    <span>Tax:</span>
                    <span data-testid="cart-tax">{{ tax | currency : "EGP " }}</span>
                </div>
            }
            @if(discount > 0){
                <div class="summary-row">
                    <span>Discount:</span>
                    <span data-testid="cart-discount" class="discount">- {{ discount | currency : "EGP " }}</span>
                </div>
            }
        </div>
        <div class="summary-total">
            <span>Total:</span>
            <span data-testid="cart-total-payment">{{ totalpayment | async | currency : "EGP" }}</span>
        </div>
      </div>

      <div class="actions">
          <button class="btn-secondary" (click)="clearCart()" data-testid="clear-cart-btn">
            Clear Cart
          </button>
          <button class="btn-primary checkout" >
            Checkout
          </button>
      </div>
    }
  } 
</aside>
