form {
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    section {
        flex: 1
    }

    section>div {
        margin: 0.5rem 0 0.25rem
    }

    label {
        color: #8f8f8f;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 0.8rem;

    }

    input {
        padding: 10px;
        border: 1px solid #ccc;
        width: 100%;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
        background-color: #f7f7f7;

        &:focus {
            outline: none;
            border-color: var(--mat-sys-primary);
        }

        &.invalid:not(:focus) {
            outline: none;
            border-color: #f44336;
        }
    }

    .order-type {
        display: flex;
        gap: 1rem;
        margin: 1rem 0 2rem;

        .destination-box {
            display: flex;
            min-width: 80px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #f7f7f7;
            font-size: 0.85rem;
            padding: 0.8rem;
            color: #333;
            cursor: pointer;
            transition: all 0.3s ease;
            flex: 1;

            &.selected {
                background-color: var(--mat-sys-primary-container);
                border: 2px solid var(--mat-sys-primary);
                color: var(--mat-sys-primary);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    form {
        flex-direction: column;
        gap: 0
    }
}