.stepper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .step {
        display: flex;
        flex-direction: column;
        align-items: center;

        mat-icon,
        span {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 2.5rem;
            height: 2.5rem;
            position: relative;
            background-color: #efefef;
            font-weight: bold;
            color: #969696;

        }



        &.passed {

            mat-icon,
            span {
                background-color: var(--mat-sys-primary);
                color: #ffffff;
            }

            label {
                color: var(--mat-sys-primary);
            }
        }

        &.active {

            mat-icon,
            span {
                background-color: #ffffff;
                color: var(--mat-sys-primary);
                border: 2px solid var(--mat-sys-primary);

            }

            label {
                color: var(--mat-sys-primary);
            }
        }
    }


    label {
        color: #969696;
        text-transform: uppercase;
        font-size: 0.6rem;
        font-weight: bold;
    }
}

.bar {
    position: absolute;
    top: 1.25rem;
    left: 0;
    height: 5px;
    background-color: #efefef;
}

.bar.progress {
    background-color: var(--mat-sys-primary);
}