<div class="stepper">
    <div class="bar" [style.width.%]="100"></div>
    <div class="bar progress" [style.width.%]="width"></div>
    @for (step of steps; track $index) {
        <div class="step" [class]="{
            passed: $index <= currentStep,
            active: $index === currentStep
        }" (click)="onStepClick($index)">
            @if (step.isIcon) {
                <mat-icon fontSet="material-symbols-outlined">{{ step.icon }}</mat-icon>
            } @else {
                <span>{{ step.icon }}</span>
            }
            <label>{{step.label}}</label>
        </div>
    }
</div>