:host {
    display: block;
    background-color: #ffffff;
    border: 1px solid #E0E0E0;
    padding: 2rem;

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 1rem;
        border-bottom: 1px solid #E0E0E0;
        padding-bottom: 1rem;
        text-transform: uppercase;


        h3 {

            font-weight: 700;
            font-size: 1.5rem;
        }

        p {
            font-weight: 600;
            margin-top: 0.5rem;

            font-size: 1rem;
            color: var(--mat-sys-tertiary);
        }
    }
}