<header>
    </header>

@if(orderHistory.length > 0) {
    <div id="container">

        <section>
            @for(order of orderHistory; track order._id) {
                @if(order.status !== 'DELIVERED' && order.status !== 'CANCELED') {
                    <app-order-tracker-card [order]="order" data-testid="tracker-card" />
                }@else{
                    <app-order-card [order]="order" data-testid="history-card" />
                }
            }
        </section>
        <aside class="side-content">
            <app-eta-status />
            
        </aside>
    </div>
    }@else{
        <div class="not-found-container" data-testid="not-found">
            <h2>Order Not Found</h2>
        <p>We couldn't find the order you're looking for. Please check the ID or try again.</p>
        <button class="btn-primary" routerLink="/customer/menu">BACK TO MENU</button>
    </div>

}
   
