<div class="menu-card">    
<img [src]="item.imageUrl" [alt]="item.name"/>
<div class="badges">

    <div class="badge">
        <p data-testid="item-category">{{item.category}}</p>    
    </div>
    @if(item.isAvailable){
        <div class="badge available">
            <p data-testid="available-badge">Available</p>    
        </div>
    } @else {
        <div class="badge unavailable">
            <p data-testid="unavailable-badge">Unavailable</p>    
        </div>
    }
</div>

<div class="card-content">
    <div class="card-header">
        <h3 class="item-name" data-testid="item-name">{{item.name}}</h3>
        <p class="item-price" data-testid="item-price">{{item.price | currency}}</p>
    </div>
    <p class="item-description" data-testid="item-description">{{item.description}}</p>
    <button class="btn-primary" [disabled]="!item.isAvailable" data-testid="add-to-cart-btn" (click)="addToCart()">
        <mat-icon>shopping_cart</mat-icon>
        <span>ADD TO CART</span>
    </button>
</div>
</div>

  