:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h1 {
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 2rem;
  }

  .role-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
